.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    width: 3px;
    border-radius: 0 !important;
    background-color: #156dbc !important;
    opacity: 1 !important;
    cursor: pointer;
}