{% extends "base.html" %}
{% load thumbnail utils posts pages %}

{% block content %}

<div class="page page_404">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumbs">
					<ul>
						<li><a href="/">Главная</a></li>
						<li> <span>404</span></li>
					</ul>
				</div>
			</div>
			<div class="col-12">
				<div class="wrapper-404">
					<strong class="wrapper-404__error-code">404</strong>
					<b class="wrapper-404__title">Страница не найдена</b>
					<span class="wrapper-404__desc">Выберите интересующий раздел в меню или перейдите на главную страницу сайта.</span>
					<a class="btn btn-md btn-primary wrapper-404__to-index" href="/">Перейти на главную</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
